.container{
   background-color: rgb(107, 102, 102);
   width: 900px;
}
.nav{
   padding: 1px;
   background-color: rgb(228, 228, 88);
}
.nav-link{
   padding: 0.8rem;
   text-decoration: none;
   color: #fff;
   font-weight: bold;
}
article{
   padding: 0.8rem;
   background-color:#000 ;
   color: #fff;
}
footer p{
   text-align: center;
   color: #fff ;
   
}
